.rutenett {
  display: grid;
  grid-template-columns: auto auto;
  margin: auto;
  padding: 10px;
  height: 30%; 
  width: 30%;
  box-sizing: border-box; 
}

.rute {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: left;
  box-sizing: border-box;

}

.Skjema, h1{
    box-sizing: border-box;
    margin: auto;
    width: 50%;
    text-align: center;
}

